.env
**/logs/
**/crash-reports/
**/world/
**/usercache.json
**/banned-ips.json
**/banned-players.json
**/ops.json
**/whitelist.json
**/cache/
**/libraries/
**/versions/
**/plugins/.paper-remapped/
**/plugins/Essentials/userdata/
**/plugins/LuckPerms/*.db
**/plugins/WorldGuard/cache/
**/plugins/spark/
*.log
*.pem
*.jar
*.bin
*.db
*.sqlite
*.dat
*.tmp

# Paper/Spigot/Bukkit Configs
**/paper-global.yml
**/paper-world-defaults.yml
**/paper-world.yml
**/bukkit.yml
**/spigot.yml
**/help.yml
**/permissions.yml
**/commands.yml
**/wepif.yml
**/server.properties