# ── JVM Settings ──────────────────────────────────────────────
JVM_MAX_HEAP=-Xmx2G
JVM_MIN_HEAP=-Xms512M
JVM_EXTRA_OPTS=-XX:+UseG1GC

# ── Minecraft Settings ────────────────────────────────────────
MC_PORT=25566
MC_BIND_IP=0.0.0.0
MC_MAX_PLAYERS=200
MC_ONLINE_MODE=false
MC_MOTD=Freesia Sub Lobby
